body {
    font-family: Arial, sans-serif;
    background-color: #dfd4d4;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    display: flex;
}
h2 {
    text-align: center;
    margin-top: 0;
}
.form {
    text-align: center; 
    padding: 20pxs;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 80px;
    width: 50%;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px;
}


input,
select,
textarea,
button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
 
